# 직접 해보세요! 
## 갭마인더 데이터 집합 불러오기(28쪽)

In [1]:
import pandas

In [2]:
df = pandas.read_csv('../data/gapminder.tsv', sep='\t')

In [3]:
import pandas as pd
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

# 직접 해보세요!
## 불러온 데이터 집합 살펴보기(29쪽)

In [4]:
# 5개의 행 확인가능
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [5]:
print(df.head().T)

                     0            1            2            3            4
country    Afghanistan  Afghanistan  Afghanistan  Afghanistan  Afghanistan
continent         Asia         Asia         Asia         Asia         Asia
year              1952         1957         1962         1967         1972
lifeExp         28.801       30.332       31.997        34.02       36.088
pop            8425333      9240934     10267083     11537966     13079460
gdpPercap      779.445      820.853      853.101      836.197      739.981

In [6]:
# data type 확인가능
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [7]:
# 행과 열 확인가능
print(df.shape)
# print(df.shape[0])
# print(df.shape[1])
# 1704개의 행과 6개의 열

(1704, 6)

In [8]:
# columns명 확인가능
print(df.columns)
# columns = index / 1차원을 columns 하는 것은 index, columns는 2차원

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [9]:
df.country.value_counts()

Paraguay                  12
Slovenia                  12
Finland                   12
Zambia                    12
Cambodia                  12
Cuba                      12
Equatorial Guinea         12
Netherlands               12
Panama                    12
Bangladesh                12
Brazil                    12
Congo, Dem. Rep.          12
Reunion                   12
Venezuela                 12
Sudan                     12
Puerto Rico               12
Haiti                     12
Nigeria                   12
Afghanistan               12
Madagascar                12
Canada                    12
Denmark                   12
Bosnia and Herzegovina    12
United States             12
Uruguay                   12
Italy                     12
Israel                    12
South Africa              12
Mongolia                  12
Mauritius                 12
                          ..
Cameroon                  12
Egypt                     12
Malawi                    12
Switzerland               12
West Bank and Gaza        12
Portugal                  12
Germany                   12
Iran                      12
Vietnam                   12
Pakistan                  12
Mauritania                12
Uganda                    12
Tanzania                  12
Bolivia                   12
Ghana                     12
Burkina Faso              12
Kenya                     12
Ethiopia                  12
Eritrea                   12
New Zealand               12
Kuwait                    12
Turkey                    12
Cote d'Ivoire             12
Spain                     12
Colombia                  12
France                    12
Namibia                   12
Botswana                  12
Ecuador                   12
Algeria                   12
Name: country, Length: 142, dtype: int64

In [10]:
# dtypes = data types의 준말
print(df.dtypes)
# numpy array의 특징
# [0,0,0,0] 데이터의 타입들이 같아야 함

# list / array
# lit = [0,4,5,7] / 아무거나 담을 수 있다 ex) 문자열 8 또는 1.3 등
# arr = [0,4,5,7] / int = float로 형변환, 문자열이 많으면 문자열로 형변환 / data의 type이 같아야 한다

# list는 array보다 100배 느리다
# object = string

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

# 직접 해보세요!
## 열 단위로 데이터 추출하기(32쪽)

In [12]:
country_df = df['country']

print(type(country_df))

<class 'pandas.core.series.Series'>

In [13]:
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [14]:
country_df.values

array(['Afghanistan', 'Afghanistan', 'Afghanistan', ..., 'Zimbabwe',
       'Zimbabwe', 'Zimbabwe'], dtype=object)

In [15]:
pd.Series(country_df.values, name = 'country').head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [16]:
# tail 마지막 5개 출력
print(country_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [17]:
subset = df[['country', 'continent', 'year']]

print(type(subset))

<class 'pandas.core.frame.DataFrame'>

In [18]:
# 연속 색인
# point index는 copy가 일어나지만 연속색인은 copy가 일어나지 않는다
df[:5]

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [19]:
# subset = copy가 발생하지 않고 view이다
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [20]:
print(subset.tail())

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

# 직접 해보세요!
## loc 속성으로 행 단위 데이터 추출하기(35쪽)

In [21]:
# range index
df.head()
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [23]:
print(df.loc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [35]:
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [25]:
number_of_rows = df.shape[0]
last_row_index = number_of_rows - 1

print(df.loc[last_row_index])

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [26]:
# tail, head는 함수이기 때문에 return type은 정해져있다. / dataframe
# index는 연산자이기 때문에 return type이 정해져있지않다
print(df.tail(n=1))

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [27]:
print(df.tail(n=2))

       country continent  year  lifeExp       pop   gdpPercap
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [28]:
print(df.loc[[0, 99, 999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [37]:
# data frame에 대한 point index은 columns 색인이다
# 0, 99, 999라는 columns가 없어서 에러가 뜬다
# df[0,99,999]

In [42]:
# df.columns도 일종의 Series
# list형으로 접근해야한다
df[df.columns[[0,4]]]

          country       pop
0     Afghanistan   8425333
1     Afghanistan   9240934
2     Afghanistan  10267083
3     Afghanistan  11537966
4     Afghanistan  13079460
5     Afghanistan  14880372
6     Afghanistan  12881816
7     Afghanistan  13867957
8     Afghanistan  16317921
9     Afghanistan  22227415
10    Afghanistan  25268405
11    Afghanistan  31889923
12        Albania   1282697
13        Albania   1476505
14        Albania   1728137
15        Albania   1984060
16        Albania   2263554
17        Albania   2509048
18        Albania   2780097
19        Albania   3075321
20        Albania   3326498
21        Albania   3428038
22        Albania   3508512
23        Albania   3600523
24        Algeria   9279525
25        Algeria  10270856
26        Algeria  11000948
27        Algeria  12760499
28        Algeria  14760787
29        Algeria  17152804
...           ...       ...
1674  Yemen, Rep.   9657618
1675  Yemen, Rep.  11219340
1676  Yemen, Rep.  13367997
1677  Yemen, Rep.  15826497
1678  Yemen, Rep.  18701257
1679  Yemen, Rep.  22211743
1680       Zambia   2672000
1681       Zambia   3016000
1682       Zambia   3421000
1683       Zambia   3900000
1684       Zambia   4506497
1685       Zambia   5216550
1686       Zambia   6100407
1687       Zambia   7272406
1688       Zambia   8381163
1689       Zambia   9417789
1690       Zambia  10595811
1691       Zambia  11746035
1692     Zimbabwe   3080907
1693     Zimbabwe   3646340
1694     Zimbabwe   4277736
1695     Zimbabwe   4995432
1696     Zimbabwe   5861135
1697     Zimbabwe   6642107
1698     Zimbabwe   7636524
1699     Zimbabwe   9216418
1700     Zimbabwe  10704340
1701     Zimbabwe  11404948
1702     Zimbabwe  11926563
1703     Zimbabwe  12311143

[1704 rows x 2 columns]

In [44]:
df.iloc[:,[0,4]]

          country       pop
0     Afghanistan   8425333
1     Afghanistan   9240934
2     Afghanistan  10267083
3     Afghanistan  11537966
4     Afghanistan  13079460
5     Afghanistan  14880372
6     Afghanistan  12881816
7     Afghanistan  13867957
8     Afghanistan  16317921
9     Afghanistan  22227415
10    Afghanistan  25268405
11    Afghanistan  31889923
12        Albania   1282697
13        Albania   1476505
14        Albania   1728137
15        Albania   1984060
16        Albania   2263554
17        Albania   2509048
18        Albania   2780097
19        Albania   3075321
20        Albania   3326498
21        Albania   3428038
22        Albania   3508512
23        Albania   3600523
24        Algeria   9279525
25        Algeria  10270856
26        Algeria  11000948
27        Algeria  12760499
28        Algeria  14760787
29        Algeria  17152804
...           ...       ...
1674  Yemen, Rep.   9657618
1675  Yemen, Rep.  11219340
1676  Yemen, Rep.  13367997
1677  Yemen, Rep.  15826497
1678  Yemen, Rep.  18701257
1679  Yemen, Rep.  22211743
1680       Zambia   2672000
1681       Zambia   3016000
1682       Zambia   3421000
1683       Zambia   3900000
1684       Zambia   4506497
1685       Zambia   5216550
1686       Zambia   6100407
1687       Zambia   7272406
1688       Zambia   8381163
1689       Zambia   9417789
1690       Zambia  10595811
1691       Zambia  11746035
1692     Zimbabwe   3080907
1693     Zimbabwe   3646340
1694     Zimbabwe   4277736
1695     Zimbabwe   4995432
1696     Zimbabwe   5861135
1697     Zimbabwe   6642107
1698     Zimbabwe   7636524
1699     Zimbabwe   9216418
1700     Zimbabwe  10704340
1701     Zimbabwe  11404948
1702     Zimbabwe  11926563
1703     Zimbabwe  12311143

[1704 rows x 2 columns]

# 알아두면 좋아요!
## tail 메서드와 loc 속성이 반환하는 자료형은 서로 달라요!(37쪽)

In [29]:
subset_loc = df.loc[0] 
subset_tail = df.tail(n=1)

print(type(subset_loc))
print(type(subset_tail))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

# 직접 해보세요!
## iloc 속성으로 행 데이터 추출하기(37쪽)

In [30]:
print(df.iloc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object

In [31]:
print(df.iloc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [32]:
print(df.iloc[-1])

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [33]:
print(df.iloc[1710])

IndexError: single positional indexer is out-of-bounds

In [ ]:
print(df.iloc[[0, 99, 999]])

# 직접 해보세요!
## 데이터 추출하기 ─ 슬라이싱 구문, range 메서드(39쪽)
### 1. 슬라이싱 구문으로 데이터 추출하기

In [ ]:
subset = df.loc[:, ['year', 'pop']] 
print(subset.head())

In [ ]:
subset = df.iloc[:, [2, 4, -1]] 
print(subset.head())

### 2. range 메서드로 원하는 데이터 추출하기

In [45]:
small_range = list(range(5)) 
print(small_range)

[0, 1, 2, 3, 4]

In [46]:
print(type(small_range))

<class 'list'>

In [47]:
subset = df.iloc[:, small_range] 
print(subset.head())

       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460

In [48]:
small_range = list(range(3, 6)) 
print(small_range)

[3, 4, 5]

In [49]:
subset = df.iloc[:, small_range] 
print(subset.head())

   lifeExp       pop   gdpPercap
0   28.801   8425333  779.445314
1   30.332   9240934  820.853030
2   31.997  10267083  853.100710
3   34.020  11537966  836.197138
4   36.088  13079460  739.981106

In [50]:
small_range = list(range(0, 6, 2))
subset = df.iloc[:, small_range] 
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

### 4. 슬라이싱, range 메서드 비교하기

In [51]:
subset = df.iloc[:, :3] 
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [52]:
subset = df.iloc[:, 0:6:2] 
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

### 5. loc, iloc 속성 자유자재로 사용하기

In [53]:
# 0, 99, 999 행과 0, 3, 5 열
print(df.iloc[[0, 99, 999], [0, 3, 5]])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [54]:
print(df.loc[[0, 99, 999], ['country', 'lifeExp', 'gdpPercap']])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [55]:
# 10 ~ 13 
print(df.loc[10:13, ['country', 'lifeExp', 'gdpPercap']])

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244

In [66]:
df[10:14][['country', 'lifeExp', 'gdpPercap']]

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244

# 직접 해보세요!
## 그룹화한 데이터의 평균 구하기(44쪽)
### 1. lifeExp 열을 연도별로 그룹화하여 평균 계산하기

In [67]:
# print(df.head(n=10))

In [68]:
print(df.groupby('year')['lifeExp'].mean())

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [69]:
grouped_year_df = df.groupby('year')
print(type(grouped_year_df))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [70]:
print(grouped_year_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000210700AAC88>

In [71]:
grouped_year_df_lifeExp = grouped_year_df['lifeExp'] 
print(type(grouped_year_df_lifeExp))

<class 'pandas.core.groupby.generic.SeriesGroupBy'>

In [72]:
mean_lifeExp_by_year = grouped_year_df_lifeExp.mean() 
print(mean_lifeExp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

### 6. lifeExp, gdpPercap 열의 평균값을 연도, 지역별로 그룹화하여 한 번에 계산하기

In [ ]:
multi_group_var = df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean() 
print(multi_group_var)

In [ ]:
print(type(multi_group_var))

### 7. 그룹화한 데이터의 개수 세기

In [ ]:
print(df.groupby('continent')['country'].nunique())

# 직접 해보세요!
## 그래프 그리기(48쪽)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
global_yearly_life_expectancy = df.groupby('year')['lifeExp'].mean() 
print(global_yearly_life_expectancy)

In [ ]:
global_yearly_life_expectancy.plot()