### 12장. 시계열 데이터
##### 12.1 datetime 오브젝트

In [1]:
from datetime import datetime

In [2]:
now1 = datetime.now() 
print(now1)

2020-01-03 16:00:38.231823

In [3]:
now2 = datetime.today()
print(now2)

2020-01-03 16:00:38.260747

In [4]:
t1 = datetime.now() 
t2 = datetime(1970, 1, 1)
t3 = datetime(1970, 12, 12, 13, 24, 34)

print(t1)
print(t2)
print(t3)

2020-01-03 16:00:38.276703
1970-01-01 00:00:00
1970-12-12 13:24:34

In [5]:
diff1 = t1 - t2

print(diff1)
print(type(diff1))

18264 days, 16:00:38.276703
<class 'datetime.timedelta'>

In [6]:
diff2 = t2 - t1

print(diff2)
print(type(diff2))

-18265 days, 7:59:21.723297
<class 'datetime.timedelta'>

# 직접 해보세요!
## 문자열을 datetime 오브젝트로 변환하기(240쪽)

In [7]:
import pandas as pd 
import os
ebola = pd.read_csv('../data/country_timeseries.csv')

In [8]:
print(ebola.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB
None

In [9]:
# pandas의 to_datetime 사용
ebola['date_dt'] = pd.to_datetime(ebola['Date'])
print(ebola.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 19 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
date_dt                122 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(16), int64(1), object(1)
memory usage: 18.2+ KB
None

In [40]:
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,...,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali,date_dt,year,month,day,outbreak_d
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-01-05,2015,1,5,289 days
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-01-04,2015,1,4,288 days
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-01-03,2015,1,3,287 days
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2015-01-02,2015,1,2,286 days
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-12-31,2014,12,31,284 days

In [10]:
test_df1 = pd.DataFrame({'order_day':['01/01/15', '02/01/15', '03/01/15']})

test_df1['date_dt1'] = pd.to_datetime(test_df1['order_day'], format='%d/%m/%y')
test_df1['date_dt2'] = pd.to_datetime(test_df1['order_day'], format='%m/%d/%y')
test_df1['date_dt3'] = pd.to_datetime(test_df1['order_day'], format='%y/%m/%d')

print(test_df1)

  order_day   date_dt1   date_dt2   date_dt3
0  01/01/15 2015-01-01 2015-01-01 2001-01-15
1  02/01/15 2015-01-02 2015-02-01 2002-01-15
2  03/01/15 2015-01-03 2015-03-01 2003-01-15

In [11]:
test_df2 = pd.DataFrame({'order_day':['01-01-15', '02-01-15', '03-01-15']})
test_df2['date_dt'] = pd.to_datetime(test_df2['order_day'], format='%d-%m-%y')

print(test_df2)

  order_day    date_dt
0  01-01-15 2015-01-01
1  02-01-15 2015-01-02
2  03-01-15 2015-01-03

# 알아두면 좋아요!
## 시계열 데이터를 구분해서 추출하고 싶어요(243쪽)

In [12]:
# 시간정보 추출
now = datetime.now()
print(now)

2020-01-03 16:00:39.773696

In [51]:
# datetime을 문자열로 바꾸는 가장 쉬운 방법
str(now)

'2020-01-03 16:00:39.773696'

In [52]:
# 인덱스를 통해서 원하는 부분만 추출가능
str(now)[:10]

'2020-01-03'

In [56]:
str(now)[:13].replace('-',"/")

'2020/01/03 16'

In [13]:
nowDate = now.strftime('%Y-%m-%d')
print(nowDate)

2020-01-03

In [14]:
nowTime = now.strftime('%H:%M:%S')
print(nowTime)

16:00:39

In [15]:
nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')
print(nowDatetime)

2020-01-03 16:00:39

# 직접 해보세요!
## datetime 오브젝트로 변환하려는 열을 지정하여 데이터 집합 불러오기(244쪽)

In [16]:
ebola1 = pd.read_csv('../data/country_timeseries.csv', parse_dates=['Date']) 
print(ebola1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null datetime64[ns]
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: datetime64[ns](1), float64(16), int64(1)
memory usage: 17.2 KB
None

# 직접 해보세요!
## datetime 오브젝트에서 날짜 정보 추출하기(244쪽)

In [17]:
date_series = pd.Series(['2018-05-16', '2018-05-17', '2018-05-18'])
d1 = pd.to_datetime(date_series) 
print(d1)

0   2018-05-16
1   2018-05-17
2   2018-05-18
dtype: datetime64[ns]

In [57]:
dt1 = d1[0]
dt1

Timestamp('2018-05-16 00:00:00')

In [58]:
dt1.weekday()

2

In [59]:
dt1.day_name()

'Wednesday'

In [60]:
dt1.dayofweek

2

In [18]:
print(d1[0].year)

2018

In [19]:
print(d1[0].month)

5

In [20]:
print(d1[0].day)

16

# 직접 해보세요!
## dt 접근자로 시계열 데이터 정리하기(245쪽)

In [21]:
ebola = pd.read_csv('../data/country_timeseries.csv')
ebola['date_dt'] = pd.to_datetime(ebola['Date'])

In [22]:
print(ebola[['Date', 'date_dt']].head())

         Date    date_dt
0    1/5/2015 2015-01-05
1    1/4/2015 2015-01-04
2    1/3/2015 2015-01-03
3    1/2/2015 2015-01-02
4  12/31/2014 2014-12-31

In [23]:
print(ebola['date_dt'][3].year)

2015

In [24]:
print(ebola['date_dt'][3].month)

1

In [25]:
print(ebola['date_dt'][3].day)

2

In [26]:
ebola['year'] = ebola['date_dt'].dt.year
print(ebola[['Date', 'date_dt', 'year']].head())

         Date    date_dt  year
0    1/5/2015 2015-01-05  2015
1    1/4/2015 2015-01-04  2015
2    1/3/2015 2015-01-03  2015
3    1/2/2015 2015-01-02  2015
4  12/31/2014 2014-12-31  2014

In [27]:
ebola['month'], ebola['day'] = (ebola['date_dt'].dt.month, ebola['date_dt'].dt.day)

print(ebola[['Date', 'date_dt', 'year', 'month', 'day']].head())

         Date    date_dt  year  month  day
0    1/5/2015 2015-01-05  2015      1    5
1    1/4/2015 2015-01-04  2015      1    4
2    1/3/2015 2015-01-03  2015      1    3
3    1/2/2015 2015-01-02  2015      1    2
4  12/31/2014 2014-12-31  2014     12   31

In [28]:
print(ebola.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 22 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
date_dt                122 non-null datetime64[ns]
year                   122 non-null int64
month                  122 non-null int64
day                    122 non-null int64
dtypes: datetime64[ns](1), float64(16), int64(4), object(1)
memory usage: 21.0+ KB
None

# 12.2 시계열 데이터 계산하기
## 12.2.1 에볼라 최초 발병일 계산하기
### 에볼라 최초 발병일 계산하기(248쪽)

In [29]:
print(ebola.iloc[-5:, :5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117  3/27/2014    5         103.0            8.0                6.0
118  3/26/2014    4          86.0            NaN                NaN
119  3/25/2014    3          86.0            NaN                NaN
120  3/24/2014    2          86.0            NaN                NaN
121  3/22/2014    0          49.0            NaN                NaN

In [30]:
print(ebola['date_dt'].min())
print(type(ebola['date_dt'].min()))

2014-03-22 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [31]:
ebola['outbreak_d'] = ebola['date_dt'] - ebola['date_dt'].min()

print(ebola[['Date', 'Day', 'outbreak_d']].head())

         Date  Day outbreak_d
0    1/5/2015  289   289 days
1    1/4/2015  288   288 days
2    1/3/2015  287   287 days
3    1/2/2015  286   286 days
4  12/31/2014  284   284 days

# 직접 해보세요!
## 파산한 은행의 개수 계산하기(249쪽)

In [32]:
banks = pd.read_csv('../data/banklist.csv') 
print(banks.head())

                                           Bank Name         City  ST   CERT  \
0                Washington Federal Bank for Savings      Chicago  IL  30570
1    The Farmers and Merchants State Bank of Argonia      Argonia  KS  17719
2                                Fayette County Bank   Saint Elmo  IL   1802
3  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...    Milwaukee  WI  30003
4                                     First NBC Bank  New Orleans  LA  58302

                 Acquiring Institution Closing Date Updated Date
0                   Royal Savings Bank    15-Dec-17    20-Dec-17
1                          Conway Bank    13-Oct-17    20-Oct-17
2            United Fidelity Bank, fsb    26-May-17    26-Jul-17
3  First-Citizens Bank & Trust Company     5-May-17    26-Jul-17
4                         Whitney Bank    28-Apr-17     5-Dec-17

In [33]:
banks_no_dates = pd.read_csv('../data/banklist.csv')
print(banks_no_dates.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 7 columns):
Bank Name                555 non-null object
City                     555 non-null object
ST                       555 non-null object
CERT                     555 non-null int64
Acquiring Institution    555 non-null object
Closing Date             555 non-null object
Updated Date             555 non-null object
dtypes: int64(1), object(6)
memory usage: 30.4+ KB
None

In [34]:
banks = pd.read_csv('../data/banklist.csv', parse_dates=[5, 6]) 
print(banks.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 7 columns):
Bank Name                555 non-null object
City                     555 non-null object
ST                       555 non-null object
CERT                     555 non-null int64
Acquiring Institution    555 non-null object
Closing Date             555 non-null datetime64[ns]
Updated Date             555 non-null datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 30.4+ KB
None

In [35]:
banks['closing_quarter'], banks['closing_year'] = (banks['Closing Date'].dt.quarter, banks['Closing Date'].dt.year)

print(banks.head())

                                           Bank Name         City  ST   CERT  \
0                Washington Federal Bank for Savings      Chicago  IL  30570
1    The Farmers and Merchants State Bank of Argonia      Argonia  KS  17719
2                                Fayette County Bank   Saint Elmo  IL   1802
3  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...    Milwaukee  WI  30003
4                                     First NBC Bank  New Orleans  LA  58302

                 Acquiring Institution Closing Date Updated Date  \
0                   Royal Savings Bank   2017-12-15   2017-12-20
1                          Conway Bank   2017-10-13   2017-10-20
2            United Fidelity Bank, fsb   2017-05-26   2017-07-26
3  First-Citizens Bank & Trust Company   2017-05-05   2017-07-26
4                         Whitney Bank   2017-04-28   2017-12-05

   closing_quarter  closing_year
0                4          2017
1                4          2017
2                2          2017
3                2          2017
4                2          2017

In [36]:
closing_year = banks.groupby(['closing_year']).size()

print(closing_year)

closing_year
2000      2
2001      4
2002     11
2003      3
2004      4
2007      3
2008     25
2009    140
2010    157
2011     92
2012     51
2013     24
2014     18
2015      8
2016      5
2017      8
dtype: int64

In [37]:
closing_year_q = banks.groupby(['closing_year', 'closing_quarter']).size()

print(closing_year_q)

closing_year  closing_quarter
2000          4                   2
2001          1                   1
              2                   1
              3                   2
2002          1                   6
              2                   2
              3                   1
              4                   2
2003          1                   1
              2                   1
              4                   1
2004          1                   3
              2                   1
2007          1                   1
              3                   1
              4                   1
2008          1                   2
              2                   2
              3                   9
              4                  12
2009          1                  21
              2                  24
              3                  50
              4                  45
2010          1                  41
              2                  45
              3                  41
              4                  30
2011          1                  26
              2                  22
              3                  26
              4                  18
2012          1                  16
              2                  15
              3                  12
              4                   8
2013          1                   4
              2                  12
              3                   6
              4                   2
2014          1                   5
              2                   7
              3                   2
              4                   4
2015          1                   4
              2                   1
              3                   1
              4                   2
2016          1                   1
              2                   2
              3                   2
2017          1                   3
              2                   3
              4                   2
dtype: int64

In [38]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots()

ax = closing_year.plot() 
plt.show()

fig, ax = plt.subplots() 
ax = closing_year_q.plot() 
plt.show()

# 직접 해보세요!
## 테슬라 주식 데이터로 시간 계산하기(253쪽)

In [39]:
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

# tesla에는 데이터프레임이 저장됩니다.
tesla = pdr.get_data_quandl('TSLA')

# tesla에 저장된 데이터프레임을 파일로 저장합니다.
tesla.to_csv('../data/tesla_stock_quandl.csv')

ModuleNotFoundError: No module named 'pandas_datareader'

In [ ]:
print(tesla.head())

In [ ]:
tesla = pd.read_csv('../data/tesla_stock_quandl.csv', parse_dates=[0])
print(tesla.info())

In [ ]:
print(tesla.loc[(tesla.Date.dt.year == 2010) & (tesla.Date.dt.month == 6)])

# 직접 해보세요!
## datetime 오브젝트를 인덱스로 설정하여 데이터 추출하기(255쪽)

In [ ]:
tesla.index = tesla['Date'] 
print(tesla.index)

In [ ]:
print(tesla['2015'].iloc[:5, :5])

In [ ]:
print(tesla['2010-06'].iloc[:, :5])

# 직접 해보세요!
## 시간 간격을 인덱스로 설정하여 데이터 추출하기(256쪽)

In [ ]:
tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()

print(tesla.head())

In [ ]:
tesla.index = tesla['ref_date']

print(tesla.iloc[:5, :5])

In [ ]:
print(tesla['5 days':].iloc[:5, :5])

# 직접 해보세요!
## 시간 범위 생성하여 인덱스로 지정하기(258쪽)

In [ ]:
ebola = pd.read_csv('../data/country_timeseries.csv', parse_dates=[0]) 
print(ebola.iloc[:5, :5])

In [ ]:
print(ebola.iloc[-5:, :5])

In [ ]:
head_range = pd.date_range(start='2014-12-31', end='2015-01-05') 
print(head_range)

In [ ]:
ebola_5 = ebola.head()
ebola_5.index = ebola_5['Date']
ebola_5.reindex(head_range)

print(ebola_5.iloc[:5, :5])

# 알아두면 좋아요!
## 시간 범위의 주기 설정하기(260쪽)

In [ ]:
print(pd.date_range('2017-01-01', '2017-01-07', freq='B'))

# 직접 해보세요!
## 에볼라의 확산 속도 비교하기(261쪽)

In [ ]:
import matplotlib.pyplot as plt

ebola.index = ebola['Date']

fig, ax = plt.subplots() 
ax = ebola.iloc[0:, 1:].plot(ax=ax)
ax.legend(fontsize=7, loc=2, borderaxespad=0.) 
plt.show()

In [ ]:
ebola_sub = ebola[['Day', 'Cases_Guinea', 'Cases_Liberia']] 
print(ebola_sub.tail(10))

### 3. 그래프를 그리기 위한 데이터프레임 준비하기

In [ ]:
ebola = pd.read_csv('../data/country_timeseries.csv',  parse_dates=['Date'])

print(ebola.head().iloc[:, :5])

In [ ]:
ebola.index = ebola['Date']

new_idx = pd.date_range(ebola.index.min(), ebola.index.max())

In [ ]:
print(new_idx)

In [ ]:
new_idx = reversed(new_idx)

In [ ]:
ebola = ebola.reindex(new_idx)

In [ ]:
print(ebola.head().iloc[:, :5])

In [ ]:
print(ebola.tail().iloc[:, :5])

### 7. 각 나라의 에볼라 발병일 옮기기

In [ ]:
last_valid = ebola.apply(pd.Series.last_valid_index) 
print(last_valid)

In [ ]:
first_valid = ebola.apply(pd.Series.first_valid_index) 
print(first_valid)

In [ ]:
earliest_date = ebola.index.min() 
print(earliest_date)

In [ ]:
shift_values = last_valid - earliest_date 
print(shift_values)

In [ ]:
ebola_dict = {} 
for idx, col in enumerate(ebola):
    d = shift_values[idx].days 
    shifted = ebola[col].shift(d) 
    ebola_dict[col] = shifted

In [ ]:
ebola_shift = pd.DataFrame(ebola_dict)

In [ ]:
print(ebola_shift.tail())

In [ ]:
ebola_shift.index = ebola_shift['Day'] 
ebola_shift = ebola_shift.drop(['Date', 'Day'], axis=1)

print(ebola_shift.tail())

In [ ]:
fig, ax = plt.subplots() 
ax = ebola_shift.iloc[:, :].plot(ax=ax)
ax.legend(fontsize=7, loc=2, borderaxespad=0.) 
plt.show()