###### 동일하게 일정범위로 스케일링한다 (StandardScaler)

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.DataFrame({"price": [95000, 100000, 120000],
                  "old": [25, 10, 5]}
                 )
df

    price  old
0   95000   25
1  100000   10
2  120000    5

In [3]:
# 평균
df.mean()

price    105000.000000
old          13.333333
dtype: float64

In [4]:
# 표준편차
df.std()

price    13228.756555
old         10.408330
dtype: float64

In [5]:
# 평균을 뺀다
df - df.mean()

     price        old
0 -10000.0  11.666667
1  -5000.0  -3.333333
2  15000.0  -8.333333

In [6]:
# 평균을 빼고 표준편차로 나눈다
# 전체적으로 범위를 맞출 수 있다
(df-df.mean()) / df.std()

      price       old
0 -0.755929  1.120897
1 -0.377964 -0.320256
2  1.133893 -0.800641

In [7]:
scale01 = StandardScaler()
scale01.fit(df)

C:\ai\python\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [8]:
df = scale01.transform(df)

C:\ai\python\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.